{% extends "base.html" %}
{% block content %}

<div class="row  mt-5">
    <div class="col">
    <div class="row py-5  px-4 ">
          <div class="col py-5 px-4">
              <div class="lh-100 text-dark-30 ">
                <h4>Reset Password</h4>     <br>               
                <form action="" method="post">{% csrf_token %}
                    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                        <!-- <p>{{ form.email }}</p>  -->
                        <label for="email">E-mail :</label> <input type="email" maxlength="254" required="" class="form-control" name="email" autofocus="" required="" id="id_email">
                        <br> 

                    <input type="submit" class="btn btn-warning form-control " value="Reset password" />
                </form>         
 
              </div>
              <!-- <a href="{% url 'login'%}" class="form-control btn btn-warning rounded">Click here to login again.</a>            -->
              
          </div>
          <div class="col-1"></div>
      </div>
    </div>
    <div class="col bg-warning"  style="background: linear-gradient(to right, #22c1c3, #fdbb2d); " >
    </div>

  
<br></div>



{% endblock %}