{% extends "base.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col">
    <div class="row py-5  px-4 ">
          <div class="col py-5 px-4">
              <div class="lh-100 text-dark-30 ">
                <h4>E-mail Sent</h4>     <br>               
                <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
      
                
              </div>
              <!-- <a href="{% url 'login'%}" class="form-control btn btn-warning rounded">Click here to login again.</a>            -->
              
          </div>
      </div>
    </div>
    <div class="col bg-warning"  style="background: linear-gradient(to right, #22c1c3, #fdbb2d); " >
    </div>

  
<br></div>
{% endblock %}