<!DOCTYPE html>
{% load static %}
{% include 'head.html' %}

<body class="bg-light">
    {% include 'topnavbar.html' %}
      
    {% if user.is_authenticated %}
         
          <main role="main" class="container">
              <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
                  <div class="lh-100">
                    <h5 class="mb-0 text-white lh-100">Category</h5>
                    <small>List of Categories</small>
                  </div>
                </div>
              
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                  <div id="starting">
                    <div class="form-row  pt-2 mt-0 pb-2 mb-0 ">
                      <div class="col">
                        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">
                            <i class="fas fa-plus"></i> New Category</button>
                      </div>
                      <div class="col  ">
                        <div class="row form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="search_term" aria-label="Search">
                     
                            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getCategories()">Search</button>
         </div>
                         
                      </div>
                    </div>
                  
                  
                    <div class="row py-0 px-2  my-2 table-responsive">
                    
                      <table class="table table-hover ">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Category</th>
                            <th scope="col">Description </th>

                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="category in categorys">
                            <th scope="row"></th>
                            <td>${category.category_name}</td>
                            <td>${category.category_description}</td>
                            <td >
                              <div class="form-inline">
                                  <button class="btn btn-outline-primary mr-1" v-on:click="getCategory(category.category_id)">Edit</button>
                 
                                  <button class="btn btn-outline-danger" v-on:click="deleteCategory(category.category_id)" {% if perms.category.can_delete_category %}disabled {% else %}  {% endif %}>Delete</button>
                                  
                              </div>
                 
                                  
                            </td>
                          </tr>
                        </tbody>
                      </table>
            
                      <!-- Add Category Modal -->
                      <div class="modal fade " id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Create New Category</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form v-on:submit.prevent="addCategory()">
                            <div class="modal-body">
                                <div class="form-group">
                                  <label for="category_name">Category Name</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="category_name"
                                    placeholder="Enter Category Name"
                                    v-model="newCategory.category_name"
                                    required="required" >
                                </div>
                                <div class="form-group">
                                  <label for="category_description">Category Description</label>
                                  <input
                                  type="text"
                                    class="form-control"
                                    id="category_description"
                                    placeholder="Enter Description"
                                    v-model="newCategory.category_description"
                                    required="required"
                                   >
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            </form>
                          </div>
                        </div>
                        <div class="loading" v-if="loading===true">Loading&#8230;</div>
                      </div>
                      <!-- End of add category modal -->
              
                      <!-- Edit Category Modal -->
                      <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Edit Cateogy</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form v-on:submit.prevent="updateCategory()">
                            <div class="modal-body">
                                <div class="form-group">
                                  <label for="category_name">Category Name</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="category_name"
                                    placeholder="Enter New Name"
                                    v-model="currentCategory.category_name"
                                    required="required" >
                                </div>
                                <div class="form-group">
                                  <label for="category_description">Category Description</label>
                                  <input
                                    class="form-control"
                                    id="category_description"
                                    placeholder="Enter Category Description"
                                    v-model="currentCategory.category_description"
                                    required="required"
                                   >
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            </form>
                          </div>
                        </div>
                        <div class="loading" v-if="loading===true">Loading&#8230;</div>
                      </div>
                      <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Deleted </h5>
                                

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                             
                            </div>
                          </div>
                        </div>
                      <!-- End of edit category modal -->
            
                    </div>
                  
                  <div class="loading" v-if="loading===true">Loading&#8230;</div>
            
              </div>
              </div>
          </main>
    
          {% else%}
          <div class="bg-white card my-3 p-3 rounded shadow container border-0 ">
              <a href="{% url 'login'%}">Click here to login</a>
          </div> 
          {% endif %}
    

  <!-- bootrtap js files -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{% static 'js/vendor/feather.min.js' %}"></script>
  <script>
    feather.replace()
  </script>
  <!-- vue.js files -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script type="text/javascript">
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    new Vue({
      el: '#starting',
      delimiters: ['${','}'],
      data: {
        categorys: [],
        loading: true,
        currentCategory: {},
        message: null,
        newCategory: { 'category_name': null, 'category_description': null },
        search_term: '',
      },
      mounted: function() {
        this.getCategories();
      },
      methods: {
        getCategories: function() {
          let api_url = '/api/category/';
          if(this.search_term!==''||this.search_term!==null) {
            api_url = `/api/category/?search=${this.search_term}`;
          }
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.categorys = response.data;
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        getCategory: function(id) {
          this.loading = true;
          this.$http.get(`/api/category/${id}/`)
              .then((response) => {
                this.currentCategory = response.data;
                console.log(response.data);
                $("#editCategoryModal").modal('show');
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        addCategory: function() {
          this.loading = true;
          this.$http.post(`/api/category/`,this.newCategory)
              .then((response) => {
                this.loading = true;
                this.getCategories();
              })
              .catch((err) => {
                this.loading = true;
                console.log(err);
              })
        },
        updateCategory: function() {
          this.loading = true;
          this.$http.put(`/api/category/${this.currentCategory.category_id}/`, this.currentCategory)
              .then((response) => {
                this.loading = false;
                this.currentCategory = response.data;
                this.getCategories();
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        deleteCategory: function(id) {
          var conf = confirm("Delete: Are you sure ?");
          if (conf){
          this.loading = true;
          this.$http.delete(`/api/category/${id}/`)
              .then((response) => {
                this.loading = false;
                // alert("deleted")
                $("#DeleteModal").modal('show');
                this.getCategories();
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        }
      }
      }
    });
  </script>
  </body>
</html>