
<!DOCTYPE html>
{% load static %}
{% include 'head.html' %}

<body class="bg-light">
    {% include 'topnavbar.html' %}
      
    <div class="nav-scroller bg-white  shadow-rd2">
        <nav class="nav nav-underline justify-content-center " role="tablist">
          <a class="nav-link active" data-toggle="tab" href="#StockEntry">Stock Entry</a>
          
          <a class="nav-link" data-toggle="tab" href="#StockShift">Stock Shifting</a>
          <a class="nav-link" data-toggle="tab" href="#StockClosing">Closing Balance</a>
        
        </nav>
      </div>
          <main role="main" class="container">
              

                  <!-- <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#"> 2017</a></li>
                  
                    </ul> -->
              
                
                  
        {% if user.is_authenticated %}
           
             
                <div class="tab-content">                     
                <!-- Stock Entry Block -->
                <div id="StockEntry" class="tab-pane active">
                  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-orange rounded shadow-sm  shadow-rd " >
                     
                         <div class="lh-100 ">
                            <h5>Stock Entry</h5>
                        </div>
                      <div class="lh-100 ml-auto">
                          <h5 class="mb-0 text-white lh-100">Shop: {{ shop.shop_name}}</h5>
                          <small> Address : {{ shop.shop_address}} | Shop Admin : {{ shop.shop_admin.username}} </small>
                      </div>
                    </div>

                    <div class="my-3 p-3 bg-white rounded shadow-sm "style="box-shadow: 0px 4px 6px -2px #888888 !important;">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" v-if="serverError">
                            <strong>Warning !</strong> ${ msg }.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                 
                  <div class=" " v-for="(invoice_product, k) in invoice_products" :key="k">

                      <form v-on:submit.prevent="addInvoice()">
                          <div class="row ">
                              <div class="col">
                                  <label for="category_id">Category</label>
                                  <select v-model.number="newInvoice.category_id" name="newInvoice.category_id" class="form-control" @change="getBrands()">
                                    <option v-for="categ in categories" :value="categ.category_id">${categ.category_name} </option>   
                                  </select>
                              </div>
                              <div class="col">
                                  <label for="brand_id">Brand</label>
                                  <select v-model.number="newInvoice.brand_id" name="newInvoice.brand_id"
                                    class="form-control" @change="getRates()">
                                    <option  v-for="brand in brands" :value="brand.brand_id">${brand.brand_name}</option>
                                  </select>
                              </div>
                              <div class="col ">
                                  <label for="brand_code">Brand Code</label>
                                  <input
                                  type="text"
                                  id="brand_code"
                                  class="form-control"
                                  v-model.number="newInvoice.brand_code" 
                                  name="newInvoice.brand_id"
                                  placeholder="Enter Brand Code"
                                  required="required"
                                  value=""
                                  rows="3" @change="getRatesb()">
                              </div>
                            </div>

                          <br>

                      <div class="row form-inline ">

                              <!-- <div class="col">
                                <label for="invoice_transaction_id">Invoice ID </label>
                                <input
                                  type="text"
                                  name="newInvoice.invoice_transaction_id"
                                  class="form-control"
                                  id="invoice_transaction_id"
                                  placeholder="Enter Invoice ID"
                                  
                                  required="required" >
                                </div>   -->
                               
                                <div class="col">
                                    <label for="invoice_brand_size">Brand Size</label>
                                    <select name="newInvoice.invoice_brand_size" class="form-control" v-model="newInvoice.invoice_brand_size"
                                    name="newInvoice.invoice_brand_size" @change="calBottle()">
                                    <option v-for="bsize in brandsSize"  :value="bsize.quantity_name">
                                        ${bsize.quantity_name} - ${bsize.quantity_bottles}
                                    </option>
                                    </select>
                                    
                                    
                                </div>
                                
                                <div class="col">
                                    <label for="invoice_brand_qty">Brand Qty</label>
                                    <input
                                    type="text"
                                    id="invoice_brand_qty"
                                    class="form-control"
                                    name="newInvoice.invoice_brand_qty"
                                    placeholder="Brand Qty"
                                    v-model="newInvoice.invoice_brand_qty"
                                    required="required"
                                    rows="3" @change="calBottle()">
                                </div>
                                <div class="col">
                                    <label for="invoice_rate_per_case">Brand Rate </label>
                                    <input
                                    type="text"
                                    id="invoice_rate_per_case"
                                    class="form-control"
                                    value="rate"
                                    name="newInvoice.invoice_rate_per_case"
                                    v-model="newInvoice.invoice_rate_per_case"
                                    rows="3" >
                                </div>
                                <div class="col">
                                    <label for="invoice_no_of_cases">Cases</label>
                                    <input
                                    type="text"
                                    id="invoice_no_of_cases"
                                    class="form-control"
                                    placeholder="No.of case"
                                    name="newInvoice.invoice_no_of_cases"

                                    v-model="newInvoice.invoice_no_of_cases"
                                    required="required"
                                    rows="3">
                                </div>
                                <div class="col">
                                    <label for="invoice_total">Total</label>
                                    <input
                                    type="text"
                                    id="invoice_total"
                                    placeholder="Total"
                                    class="form-control"
                                    name="newInvoice.invoice_total"
                                    v-model="newInvoice.invoice_total"
                                    required="required"
                                    rows="3">
                                </div>
                            </div>
                            
                          <br>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                  </div>
                    <button type='button' class="btn btn-light" @click="addNewRow">
                        <i class="fas fa-plus"></i>
                        Add
                    </button>
                    </div>
                    <div class="my-3 p-3 bg-white rounded shadow-rd">
                        <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                          <tr>
                            <th scope="col">Invoice ID</th>  <th scope="col">Brand ID</th>   <th scope="col">Date</th> <th scope="col">Brand Size</th>    <th scope="col">Brand Qty</th>    
                            <th scope="col">Rate</th>  <th scope="col"># of Bottle </th>   <th scope="col">Total</th>  <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>                                  
                        <tr v-for="invoice in invoices">
                            <th scope="row">${invoice.invoice_transaction_id}</th>
                            <td>${invoice.brand_id}</td>
                            <td>${invoice.invoice_date}</td>
                            <td>${invoice.invoice_brand_size}</td>
                            <td>${invoice.invoice_brand_qty}</td>
                            <td>${invoice.invoice_rate_per_case}</td>
                            <td>${invoice.invoice_no_of_cases}</td>
                            <td>${invoice.invoice_total}</td>
  
                            <td>
                              <div class="form-inline">
                                <button class="btn btn-outline-primary mr-1" v-on:click="getInvoice(invoice.invoice_transaction_id)">Edit</button>
                                <button class="btn btn-outline-danger" v-on:click="deleteInvoice(invoice.invoice_transaction_id)">Delete</button>
                            </div>
                              </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              
                    </div>
              <div class="loading" v-if="loading===true">Loading&#8230;</div>                    
                </div>
                <!-- End of Stock Entry -->

                <!-- This is stock shifting block -->

                <div id="StockShift" class="tab-pane ">

                        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-orange rounded shadow-rd">
                        <div class="lh-100">
                            <h5>Stock Shifting</h5>
                        </div>
                      <div class="lh-100 ml-auto">
                          <h5 class="mb-0 text-white lh-100">Shop: {{ shop.shop_name}}</h5>
                          <small> Address : {{ shop.shop_address}} | Shop Admin : {{ shop.shop_admin.username}} </small>
                      </div>
                    </div>

                    <div class="my-3 p-3 bg-white rounded shadow-rd">
                      <div class="container">
                          <form v-on:submit.prevent="addShift()"> 
                            <div>
                                <div class="row border border-light mb-2 pb-2 ">
                                    <div class="col">
                                        <label for="stock_shift_date">Enter the Date</label>
                                        <input
                                            type="date"
                                            name="newShift.stock_shift_date"
                                            class="form-control"
                                            id="stock_shift_date"
                                            placeholder="Enter the Date"
                                            v-model="newShift.stock_shift_date"
                                            required="required" >
                                    </div> 
                                    <div class="col">
                                            <label for="stock_shift_to">Shift To:</label>
                                            <select
                                                name="newShift.stock_shift_to" 
                                                class="form-control" 
                                                v-model="newShift.stock_shift_to"
                                                name="newShift.stock_shift_to" 
                                                
                                                @change="calBottle()">
                                                <option 
                                                    v-for="shop in shops"  
                                                    :value="shop.shop_id">
                                                        ${shop.shop_name} 
                                                </option>
                                            </select>
                                    </div>
                                    
                                                                  <div class="col">
                                          <label for="category_id">Category</label>
                                          <select v-model.number="newShift.category_id" name="newShift.category_id" class="form-control" @change="getBrands()">
                                            <option v-for="categ in categories" :value="categ.category_id">${categ.category_name} </option>   
                                          </select>
                                      </div>
                                      <div class="col">
                                          <label for="brand_id">Brand</label>
                                          <select v-model.number="newShift.brand_id" name="newShift.brand_id"
                                            class="form-control" @change="getRates()">
                                            <option  v-for="brand in brands" :value="brand.brand_id">${brand.brand_name}</option>
                                          </select>
                                      </div>
                                      <div class="col ">
                                          <label for="brand_code">Brand Code</label>
                                          <input
                                          type="text"
                                          id="brand_code"
                                          class="form-control"
                                          v-model.number="newShift.brand_code" 
                                          name="newShift.brand_id"
                                          placeholder="Enter Brand Code"
                                          required="required"
                                          value=""
                                          rows="3" @change="getRatesb()">
                                      </div>
                              
                                    </div>   
                            </div>                            
                          <div class="row">
                              
                          </div>
                          

                          <br>
                          <div class="row">
                           
                            
                            <div class="col">
                                <label for="stock_shift_p">P:</label>

                            </div>
                            <div class="col">
                                <input type="hidden" 
                                class="form-control form-control-sm" 
                                v-model="newShift.stock_shift_p"
                                name="newShift.stock_shift_p"
                                placeholder="P" readonly>

                            </div>
                            <div class="col">
                                <input type="text" 
                                class="form-control form-control-sm" 
                                v-model="newShift.stock_shift_p"
                                name="newShift.stock_shift_p"
                                placeholder="P">

                            </div>
                          </div>
                          <div class="row">
                            
                            <div class="col"><label for="stock_shift_q">Q:</label></div>
                              <div class="col">
                                  
                                  <input type="hidden" 
                                  class="form-control form-control-sm"
                                  v-model="newShift.stock_shift_q"
                                  name="newShift.stock_shift_q"
                                  placeholder="Q" readonly>
                              </div>
                              <div class="col">
                              
                                  <input type="text" 
                                  class="form-control form-control-sm"
                                  v-model="newShift.stock_shift_q"
                                  name="newShift.stock_shift_q"
                                  placeholder="Q">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">             <label for="stock_shift_n">N:</label>
                              </div>
                              
                              <div class="col">
                                  
                                <input type="hidden" 
                                class="form-control form-control-sm"
                                v-model="newShift.stock_shift_q"
                                name="newShift.stock_shift_q"
                                placeholder="Q" readonly>
                            </div>
                              <div class="col">
                                  <input type="text" 
                                  class="form-control form-control-sm" 
                                  v-model="newShift.stock_shift_n"
                                  name="newShift.stock_shift_n"
                                  placeholder="N">
                              </div>
                            </div> 
                            <div class="row">
                              <div class="col">
                                <label for="stock_shift_d">D:</label></div>
                              <div class="col">
                                  
                                <input type="hidden" 
                                class="form-control form-control-sm"
                                v-model="newShift.stock_shift_q"
                                name="newShift.stock_shift_q"
                                placeholder="Q" readonly>
                            </div>
                              <div class="col">
                                  
                                  <input type="text" 
                                  class="form-control form-control-sm" 
                                  name="newShift.stock_shift_d"
                                  v-model="newShift.stock_shift_d"
                                  placeholder="D" >
                              </div>
                            </div> 
                            <div class="row">
                              <div class="col"><label for="stock_shift_l">L:</label></div>
                              <div class="col">
                                  
                                <input type="hidden" 
                                class="form-control form-control-sm"
                                v-model="newShift.stock_shift_q"
                                name="newShift.stock_shift_q"
                                placeholder="Q" readonly>
                            </div>
                              <div class="col">
                                  
                                  <input type="text" 
                                  class="form-control form-control-sm" 
                                  name="newShift.stock_shift_l"
                                  v-model="newShift.stock_shift_l"
                                  placeholder="L">
                              </div>
                            </div> 
                            <div class="row">
                              <div class="col"> <label for="stock_shift_xg">XG:</label>
                              </div>
                              <div class="col">
                                  
                                <input type="hidden" 
                                class="form-control form-control-sm"
                                v-model="newShift.stock_shift_q"
                                name="newShift.stock_shift_q"
                                placeholder="Q" readonly>
                            </div>
                              <div class="col">
                                  <input type="text" 
                                  class="form-control form-control-sm" 
                                  name="newShift.stock_shift_xg"
                                  v-model="newShift.stock_shift_xg"
                                  placeholder="XG">
                              </div>
                            </div> 
                            <div class="row">
                              <div class="col"><label for="stock_shift_y">Y:</label></div>
                              <div class="col">
                                  
                                <input type="hidden" 
                                class="form-control form-control-sm"
                                v-model="newShift.stock_shift_q"
                                name="newShift.stock_shift_q"
                                placeholder="Q" readonly>
                            </div>
                              <div class="col">
                                  
                                  <input type="text" 
                                  class="form-control form-control-sm" 
                                  name="newShift.stock_shift_y"
                                  v-model="newShift.stock_shift_y"
                                  placeholder="Y">
                              </div>
                                                            
                          </div>
                          
                          <br>
                      
                      <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                      </form>
                      </div>

                    </div>
                       
                                        
                    
                </div>
              
                <!-- End of the Stock Shifitng Block -->

                <!-- This is stock Closing block -->

                <div id="StockClosing" class="tab-pane ">

                    
                        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-orange rounded shadow-rd">
                            <div class="lh-100">
                                <h5>Stock Closing</h5>
                            </div>
                          <div class="lh-100 ml-auto">
                              <h5 class="mb-0 text-white lh-100">Shop: {{ shop.shop_name}}</h5>
                              <small> Address : {{ shop.shop_address}} | Shop Admin : {{ shop.shop_admin.username}} </small>
                          </div>
                        </div>
                        <div class="my-3 p-3 bg-white rounded shadow-rd">
                        <div class="modal-body closing-box ">
                            <form v-on:submit.prevent="addClosing()" id="cl_frm">
                                <div class="row">
                                    <div class="col">
                                        <label for="close_date">Enter the Date</label>
                                        <input
                                            type="date"
                                            name="newClosing.close_date"
                                            class="form-control"
                                            id="close_date"
                                            placeholder="Enter the Date"
                                            v-model="newClosing.close_date"
                                            required="required" >
                                    </div>
                               
                                    <div class="col">
                                        <label for="category_id">Category</label>
                                        <select v-model.number="newClosing.category_id" name="newClosing.category_id" class="form-control" @change="getBrands()">
                                        <option v-for="categ in categories" :value="categ.category_id">${categ.category_name} </option>   
                                        </select>
                                    </div>
                                    <div class="col border-right gray">
                                        <label for="brand_id">Brand</label>
                                
                                        <select v-model.number="newClosing.brand_id" name="newClosing.brand_id"
                                        class="form-control" @change="getShiftData()">
                                        <option  v-for="brand in brands" :value="brand.brand_id">${brand.brand_name}</option>
                                        </select>
                                    </div>
                                    <div class="">
                                        <div class="col">
                                            <label for="invoice_brand_code">Brand Code</label>
                                            <input
                                            type="text"
                                            id="brand_code"
                                            class="form-control"
                                            v-model.number="newInvoice.brand_code" 
                                            name="newInvoice.brand_code"
                                            placeholder="Enter Brand Code"
                                            required="required"
                                            value=""
                                            rows="3" @change="getRatesb()">
                                        </div>
                                    </div>

                                        </li>
                                      </ul> 


                                      
                                </div>
                                <hr>
                                
                                <div class="row">
                                   

                                 

                                 

                                      <div class="table-responsive">
                                          <table class="table table-hover">
                                              <thead>
                                                  <tr>
                                                      <th scope="col">Qty</th>                          
                                                      <th scope="col">Opening</th>
                                                      <th scope="col">Reciepts</th>                           
                                                      <th scope="col">Given</th> 
                                                      <th scope="col">Taken </th> 
                                                      <th scope="col">Closing</th> 
                                                      <th scope="col">Sold</th>
                                                      <th scope="col">Total</th>  
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                   
                                                    


                                                    <tr>
                                                      <th scope="row"> P  - ${ brandsSize.P  }</th>
                                                      <td>${ op_stk_data.open_p }</td>
                                                      <td>${ in_stk_data.P}</td>
                                                        <td>${ shift_given.stock_shift_p } </td>
                                                        <td>${ shift_taken.stock_shift_p} </td>

                                                        <td><input
                                                          type="number"
                                                          name="newClosing.close_qty_p"
                                                          class="form-control"
                                                          id="close_qty_p"
                                                          placeholder="Enter Closing Qty"
                                                          v-model="newClosing.close_qty_p"
                                                          ></td>
                                                        <td> ${ sold_p}</td>
                                                        <td> ${ total_p}</td>
                                                      </tr>
                                                      <tr> 
                                                         <th scope="row"> Q  - ${ brandsSize.Q  }</th>
                                                          <td>${ op_stk_data.open_q }</td>
                                                          <td>${ in_stk_data.Q}</td>
                                                          <td>${ shift_given.stock_shift_q }</td>
                                                          <td>${ shift_taken.stock_shift_q} </td>
                                                          <td>
                                                            <input type="number" name="newClosing.close_qty_q" 
                                                          class="form-control" id="close_qty_q" placeholder="Enter Closing Qty"
                                                          v-model="newClosing.close_qty_q"></td>         
                                                          <td> ${ sold_q}</td>
                                                          <td> ${ total_q}</td>
                                                      </tr>
                                                      <tr>
                                                          
                                                          <th scope="row"> N  - ${ brandsSize.N  }</th>
                                                          <td>${ op_stk_data.open_q }</td>
                                                         <td>${ in_stk_data.N}</td>
                                                          
                                                        <td>${ shift_given.stock_shift_n }</td>
                                                        <td>${ shift_taken.stock_shift_n} </td>

                                                        <td><input
                                                          type="number"
                                                          name="newClosing.close_qty_n"
                                                          class="form-control"
                                                          id="close_qty_n"
                                                          placeholder="Enter Closing Qty"
                                                          v-model="newClosing.close_qty_n"
                                                          ></td>            
                                                          <td> ${ sold_n}</td>
                                                          <td> ${ total_n}</td>
              
                                                      </tr>
    
                                                </tbody>
    
                                           
                                            
    
                                          </table>
                                </div>
                                </div>
                            
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                            </form>
                        </div>
                    <br>
                    <hr>
                                    
                </div>
            </div>
                <!-- End of the Stock Closing Block -->

        </div>
          </main>
          {% endif %}
                  </div>
              </div>
    

  <!-- bootrtap js files -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <!-- Icons -->
 <script src="{% static 'js/vendor/feather.min.js' %}"></script>
  <script>
    feather.replace()
  </script>
  <!-- vue.js files -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script type="text/javascript">
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    var myObject =  new Vue({
      el: '#StockEntry',
      delimiters: ['${','}'],
      data: {
        invoices: [],
        brands:[],
        brandsSize:[],
        categories:[],
        serverError: false,
        msg: null,
        loading: true,
        rate: 00,
        currentInvoice: {},
        message: null,
        newInvoice:{   
            "shop_id": null,
            "brand_id": null,
            "category_id": null,
            "invoice_brand_size": null,
            "invoice_brand_qty": null,
            "invoice_rate_per_case": null,
            "invoice_no_of_cases": null,
            "invoice_total": 0

        },
        invoice_products: [{
            product_no: '',
            product_name: '',
            product_price: '',
            product_qty: '',
            line_total: 0
        }],
        search_term: '',
      },
      mounted: function() {
        this.getInvoices();
        this.getCategories();
        this.getBrands();
        this.getBrandsSize();
        // this.getRates();
      },

      methods: {
        addNewRow() {
            this.invoice_products.push({
                product_no: '',
                product_name: '',
                product_price: '',
                product_qty: '',
                line_total: 0
            });
        },
        getInvoices: function() {
          var local = new Date();
            dt = local.toJSON().slice(0,10);

          let api_url = '/api/invoice/';
          api_url = `/api/invoice/?format=json&invoice_date=${dt}`
                  console.log(api_url);
    
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.invoices = response.data;
                
                this.loading = false;
    
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        getCategories: function() {
          let api_url = '/api/category/';
         this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.categories = response.data;
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        calBottle: function() {
            console.log(this.newInvoice.invoice_brand_size);
            let api_url = '/api/quantity/';
            api_url = `/api/quantity/?search=${this.newInvoice.invoice_brand_size}`;
            this.loading = true;
            this.$http.get(api_url)
                .then((response) => {
                    
                    this.loading = false;
                    let qty_data= response.data;
                    let qty_btl = qty_data.find(u => u.quantity_name === this.newInvoice.invoice_brand_size);
                    this.newInvoice.invoice_brand_qty *  qty_btl.quantity_bottles;
                    this.newInvoice.invoice_no_of_cases = this.newInvoice.invoice_brand_qty *  qty_btl.quantity_bottles;
                    this.newInvoice.invoice_total = this.newInvoice.invoice_no_of_cases * this.newInvoice.invoice_rate_per_case;
                  
                })
                .catch((err) => {
                    this.loading = false;
                    console.log(err);
                })
        },
       
        getBrands: function (){
          let api_url = '/api/brand/';
          api_url = `/api/brand/?search=${this.newInvoice.category_id}`;
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.brands = response.data;
                this.loading = false;
              
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        getRatesb: function (){
          let api_url = '/api/brand/';
          api_url = `/api/brand/${this.newInvoice.brand_code}`;
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                let status = response.status;
                console.log(status);
                this.brands = response.data;
                
                let shop_data= response.data;
                this.serverError= false;
                console.log(shop_data)
                //let obj = shop_data.find(u => u.brand_id === this.newInvoice.brand_id);
                this.newInvoice.invoice_rate_per_case = shop_data.brand_q_cost;
                console.log("q cost: " +shop_data.brand_q_cost);
               // alert(JSON.stringify(shop_data));

              
                this.loading = false;
                
              }, function(err) {
                if (err.status == 404) {
                  this.loading = false;
                  this.serverError= true;
                  this.msg = "You have  enterd the invalid Brand Code ";
                  alert("404 :"+this.msg);
                }
              }
              
              
              )
              .catch((err) => {
                this.loading = false;
                
                console.log(err);
              })
        },
        getRates: function (){
          let api_url = '/api/brand/';
          api_url = `/api/brand/?search=${this.newInvoice.category_id}`;
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.brands = response.data;
                
                let shop_data= response.data;
                console.log(shop_data)
                let obj = shop_data.find(u => u.brand_id === this.newInvoice.brand_id);
                this.newInvoice.invoice_rate_per_case = obj.brand_q_cost;
                console.log("q cost: " +obj.brand_q_cost);

               
                this.loading = false;
                
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        getBrandsSize: function (){
          let api_url = '/api/quantity/';
          // api_url = `/api/brand/?search=${this.newInvoice.category_id}`;
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.brandsSize = response.data;

              
              //  let result = this.brandsSize.map(a => (a.quantity_name)   + a.quantity_bottles);
              //  this.brandsSize = reformattedArray;
             

                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        
        getInvoice: function(id) {
          this.loading = true;
          this.$http.get(`/api/invoice/${id}/`)
              .then((response) => {
                this.currentInvoice = response.data;
                console.log(response.data);
                $("#editInvoiceModal").modal('show');
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        addInvoice: function() {
            var local = new Date();
            dt = local.toJSON().slice(0,10);
            let sid = {{shop.shop_id}}
            this.newInvoice['shop_id'] = sid ;

            this.newInvoice['invoice_date'] = dt;
            this.loading = true;
          
          this.$http.post(`/api/invoice/`,this.newInvoice)
              .then((response) => {
                this.loading = true;
                this.getInvoices();
              })
              .catch((err) => {
                this.loading = true;
                console.log(err);
              })
        },
        updateInvoice: function() {
          this.loading = true;
          this.$http.put(`/api/invoice/${this.currentInvoice.invoice_transaction_id}/`, this.currentInvoice)
              .then((response) => {
                this.loading = false;
                this.currentInvoice = response.data;
                this.getInvoices();
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        deleteInvoice: function(id) {
          this.loading = true;
          this.$http.delete(`/api/invoice/${id}/`)
              .then((response) => {
                this.loading = false;
                this.getInvoices();
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
            },
        },

      });
 

  
var myStockShift =  new Vue({
      el: '#StockShift',
      delimiters: ['${','}'],
      data: {
        
        brands:[],
        shops:[],
        brandsSize:[],
        categories:[],
        loading: true,
        rate: 00,
        currentInvoice: {},
        message: null,
        newInvoice: { 'invoice_transaction_id': null, 'invoice_brand_size': null, 'invoice_rate_per_case':null },
        newShift: {
            'brand_id': null, 'stock_shift_date': null, 'stock_shift_from': null, 'stock_shift_to': null,
            'stock_shift_p': null, 'stock_shift_q': null, 'stock_shift_n': null, 'stock_shift_d': null, 
            'stock_shift_l': null, 'stock_shift_xg': null, 'stock_shift_y': null, 
        },
        search_term: '',
      },
      mounted: function() {
          this.getCategories();
          this.getBrands();
          this.getShops();
        
      }, 
      methods: 
      {
        getCategories: function() {
          let api_url = '/api/category/';
          this.loading = true;
          this.$http.get(api_url)
          .then((response) => {
            this.categories = response.data;
            this.loading = false;
          })
          .catch((err) => {
            this.loading = false;
            console.log(err);
          })
        },
        getBrands: function (){
          let api_url = '/api/brand/';
          api_url = `/api/brand/?search=${this.newShift.category_id}`;
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.brands = response.data;
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
            getShops: function() {
              let api_url = '/api/shop/';
              this.loading = true;
              this.$http.get(api_url)
              .then((response) => {
                let shop_data = response.data;
                // to remove the currunt shop 
                let sd= shop_data.filter(u=> u.shop_id != {{shop.shop_id}});
                console.log("filtered "+ sd);
                
                this.shops = sd;
                this.loading = false;
              })

              .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
            },
            addShift: function() {
                this.newShift['stock_shift_from'] = {{shop.shop_id}} ;
                this.loading = true;
                this.$http.post(`/api/shift/`,this.newShift)
                .then((response) => {
                    this.loading = true;
                    this.getBrands();
                })
                .catch((err) => {
                    this.loading = true;
                    console.log(err);
                })
        },
        },

      });
 

    var myClosing =  new Vue({
      el: '#StockClosing',
      delimiters: ['${','}'],
      data: {
        
        brands:[],
        shops:[],
        shifts:[],
        shift_given:{"stock_shift_p": 0, "stock_shift_q": 0, "stock_shift_n": 0,  },
        shift_taken:{"stock_shift_p": 0, "stock_shift_q": 0, "stock_shift_n": 0, },
       
        brandsSize:[],
        categories:[],
        op_stk_data:{"open_p": 0, "open_q": 0, "open_n": 0},
        in_stk_data:{"P": 0, "Q": 0, "N": 0, "L": 0, "Y": 0, "XG": 0 , },
        brnd_details: { "brand_p_sale": 0, "brand_q_sale": 0, "brand_n_sale": 0, "brand_d_sale": 0, "brand_l_sale": 0, "brand_xg_sale": 0, "brand_y_sale": 0 },
        invoices:[],
        loading: true,
        rate: 00,
        currentInvoice: {},
        message: null,
        newInvoice: { 'invoice_transaction_id': null, 'invoice_brand_size': null, 'invoice_rate_per_case':null },
        newClosing: {
          'brand_id': null, 'category_id': null, 'close_shop_id': null, 'close_date': null, 'close_qty_p': 0, 
          'close_qty_q': 0, 'close_qty_n': 0, 'close_qty_d': 0,'close_qty_l': 0, 'close_qty_xg': 0,   
          'close_qty_y': 0, 'close_sale_p': 0,'close_sale_q': 0, 'close_sale_n': 0, 'close_sale_d': 0, 'close_sale_l': 0,
          'close_sale_xg': 0,    'close_sale_y': 0,'total_sale': 0
          },
        newOpening: {
                    'brand_id': null, 'open_shop_id': null, 'open_date': null, 'open_p': 0, 
                    'open_q': 0, 'open_n': 0, 'open_d': 0,'open_l': 0, 'open_xg': 0,   
                    'open_y': 0,
          },
        search_term: '',
      },
      mounted: function() {
          this.getCategories();
          this.getBrands();
          this.getShops();
          this.getBrandsSize();
          // this.getShiftData();
          // this.getOpenData();
      },
      computed: {
        sold_p() {
          return (parseInt(this.op_stk_data.open_p) + parseInt(this.in_stk_data.P)  + parseInt(this.shift_taken.stock_shift_p) - parseInt(this.shift_given.stock_shift_p) - parseInt(this.newClosing.close_qty_p)) || 0;
        },
        total_p() {
          return (parseInt(this.sold_p) * parseInt(this.brnd_details.brand_p_sale)) || 0;
        },
        sold_q() {
          return (parseInt(this.op_stk_data.open_q) + parseInt(this.in_stk_data.Q)  + parseInt(this.shift_taken.stock_shift_q) - parseInt(this.shift_given.stock_shift_q) - parseInt(this.newClosing.close_qty_q)) || 0;
        },
        total_q() {
          return (parseInt(this.sold_q) * parseInt(this.brnd_details.brand_q_sale)) || 0;
        },
        sold_n() {
          return (parseInt(this.op_stk_data.open_n) + parseInt(this.in_stk_data.N)  + parseInt(this.shift_taken.stock_shift_n) - parseInt(this.shift_given.stock_shift_n) - parseInt(this.newClosing.close_qty_n)) || 0;
        },
        total_n() {
          return (parseInt(this.sold_n) * parseInt(this.brnd_details.brand_n_sale)) || 0;
        },
      
    },
  
      methods: {
        getCategories: function() {
          let api_url = '/api/category/';
          this.$http.get(api_url)
          .then((response) => {
            this.categories = response.data;
            })
          .catch((err) => {
            console.log(err);
            })  
        },
        getBrands: function (){
          let api_url = '/api/brand/';
          api_url = `/api/brand/?search=${this.newClosing.category_id}`;
          this.$http.get(api_url)
              .then((response) => {
                this.brands = response.data;
                
                this.loading = false;
                
              
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        getShops: function() {
              let api_url = '/api/shop/';
              this.loading = true;
              this.$http.get(api_url)
              .then((response) => {
                  this.shops = response.data;
                  this.loading = false;
              })
              .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
            },
        
        addClosing: function() {
          this.newClosing['close_shop_id'] = {{ shop.shop_id }} ;
          this.loading = true;
          this.$http.post(`/api/close/`,this.newClosing)
          .then((response) => {
            this.loading = true;
            this.addOpening();
            })
          .catch((err) => {
            this.loading = true;
            console.log(err);
          })
        },
        addOpening: function() {
          var date = new Date(this.newClosing.close_date);
          date.setDate(date.getDate() + 1);
          this.newOpening['open_date'] = date.toJSON().slice(0,10);
          this.newOpening['brand_id'] = this.newClosing['brand_id']  ;
          this.newOpening['open_shop_id'] =  this.newClosing['close_shop_id']  ;
          this.newOpening['open_p'] =  this.newClosing['close_qty_p']  ;
          this.newOpening['open_q'] =  this.newClosing['close_qty_q']  ;
          this.newOpening['open_n'] =  this.newClosing['close_qty_n']  ;
          this.newOpening['open_d'] =  this.newClosing['close_qty_d']  ;
          this.newOpening['open_l'] =  this.newClosing['close_qty_l']  ;
          this.newOpening['open_xg'] =  this.newClosing['close_qty_xg']  ;
          this.newOpening['open_y'] =  this.newClosing['close_qty_y']  ;

                this.loading = true;
                this.$http.post(`/api/open/`,this.newOpening)
                .then((response) => {
                    this.loading = true;
                    location.reload();
                })
                .catch((err) => {
                    this.loading = true;
                    console.log(err);
                })
        },
        getBrandsSize: function (){
          let api_url = '/api/quantity/';
          this.loading = true;
          this.$http.get(api_url)
          .then((response) => {
            this.brandsSize = response.data;
            var result = {};
            for (var i = 0; i < this.brandsSize.length; i++) {
              result[this.brandsSize[i].quantity_name] = this.brandsSize[i].quantity_bottles;
            }
            console.log("some:"+result);
            this.brandsSize = result;
            this.loading = false;
          })
          .catch((err) => {
            this.loading = false;
            console.log(err);
          })
        },
       
        getOpenData: function(){
          let api_url = '/api/open/';
          api_url = `/api/open/?search=${this.newClosing.brand_id}`;
          let shop_id = {{shop.shop_id}} ;
          let api_urlx = `/api/open/?open_shop_id=${shop_id}&open_date=${this.newClosing.close_date}&brand_id=${this.newClosing.brand_id}`
          this.loading = true;
          this.$http.get(api_urlx)
              .then((response) => {
                
                let op_data = response.data;
                console.log(op_data); 
                console.log(api_urlx);
                if (op_data.length > 0){
                  this.op_stk_data = op_data[0];
                }
                else{
                  this.op_stk_data = this.op_stk_data;
                }
                
                // let op_stk_filt = this.op_stk_data.find(u => (new Date (Date.parse(u.open_date))).toISOString().slice(0,10) === this.newClosing.close_date &&	u.open_shop_id === {{shop.shop_id}}) ||0 ;
                
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })


        },
        getInvoicesd: function()
        {
          var local = new Date();
          dt = local.toJSON().slice(0,10);
          console.log(dt)
          let api_url = `/api/invoice/?shop_id=${shop_id}&invoice_date=${this.newClosing.close_date}&brand_id=${this.newClosing.brand_id}`
          this.loading = true;
          this.$http.get(api_url)
          .then((response) => 
          {
            console.log("invoice: ", api_url)
            let dtx = response.data;
            if (dtx.length >0)
            {
              // first, convert data into a Map with reduce
              let counts = dtx.reduce((prev, curr) => {
              let count = prev.get(curr.invoice_brand_size) || 0;
              prev.set(curr.invoice_brand_size, curr.invoice_no_of_cases + count);
              return prev;
              },
              new Map());
              // then, map your counts object back to an array
              let reducedObjArr = [...counts].map(([invoice_brand_size, invoice_no_of_cases]) => {
              return {invoice_brand_size, invoice_no_of_cases}
              })
              var result = {};
              for (var i = 0; i < reducedObjArr.length; i++) 
              {
                result[reducedObjArr[i].invoice_brand_size] = reducedObjArr[i].invoice_no_of_cases;
              }
              console.log(result);
              //this.in_stk_data = result;
              update(this.in_stk_data, result);
              function update (targetObject, obj) {
                Object.keys(obj).forEach(function (key) {
                  if ( 'object' === typeof obj[key] && !Array.isArray(obj[key]) ) {
                    update(targetObject[key], obj[key])
                  }
                  else if ( 'string' === typeof obj[key] || 'number' === typeof obj[key] ) {
                    targetObject[key] = obj[key]
                  }
                })
              }
              console.log(this.in_stk_data);
              this.loading = false;
            }
          })
          .catch((err) => {
            this.loading = false;
            console.log(err);
          })
        },
       
        getShiftData: function ()
        {
          let api_url = '/api/shift/';
          api_url = `/api/shift/?search=${this.newClosing.brand_id}`;
          this.loading = true;
          this.$http.get(api_url)
          .then((response) => {
            console.log("Shift:", api_url);
            let sft_data= response.data;
            let sft_gvn = sft_data.find(u => (new Date (Date.parse(u.stock_shift_date))).toISOString().slice(0,10) === this.newClosing.close_date &&	u.stock_shift_from === {{shop.shop_id}}) ;
            let sft_tkn = sft_data.find(u => (new Date (Date.parse(u.stock_shift_date))).toISOString().slice(0,10) === this.newClosing.close_date &&	u.stock_shift_to === {{shop.shop_id}}) || 0;
            if (sft_gvn)
            {
              this.shift_given = sft_gvn;
            }
            if (sft_tkn){
              this.shift_taken = sft_tkn;
            }
            this.getOpenData();
            this.getInvoicesd();
            this.getBrandDetail();
            this.loading = false;
            })
            .catch((err) => {
              this.loading = false;
              console.log(err);
            })
        },

        getBrandDetail: function()
        {
          let api_url = '/api/open/';
          api_url = `/api/brand-detail/?brand_id=${this.newClosing.brand_id}`
          this.loading = true;
          this.$http.get(api_url)
          .then((response) => {
            let brnd_data = response.data;
            console.log(brnd_data);
            if (brnd_data.length > 0){
              this.brnd_details = brnd_data[0];
            }
            this.loading = false;
          })
          .catch((err) => {
            this.loading = false;
            console.log(err);
          })
        },
      
      
      }
    });
       
  </script>
  </body>
</html>